@charset "utf-8";

#modalLoginNav{
	top: 4em;
	z-index: 200;
	width: 300px;
	position: absolute;
	background: #fff;
	border-radius: 5px;
	/* box-shadow: 0px 0px 12px -7px #333; */
	/* visibility: hidden; */
	display: none;
}
#btn-loginIn{
	box-shadow: 0px 5px 10px -5px blue;
}
#btn-cadastra-login, #btn-recovery-senhar{
	background: transparent !important; 
	color: #333;
	border-radius: 30px;
}
.loading_icon_login i{
	display: none;
	font-size: 40pt;
	color: #ffee00;
	position: absolute;
	left: 2.2em;
	z-index: 300;
	-webkit-animation: loading_icon_login 2s linear infinite;
	-moz-animation: loading_icon_login 2s linear infinite;
	-o-animation: loading_icon_login 2s linear infinite;
	animation: loading_icon_login 2s linear infinite;
}
@-webkit-keyframes loading_icon_login{
	form{
		transform: rotate(0deg);
	}
	to{
	transform: rotate(360deg);
	}
}