/* pagina barra_information.php */
.info_icon{
    background: #eee781;
    color: #93b110;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50px;
    height:50px;
    border-radius: 100%;
}
.divs_icons{
    position: relative;
    margin-top: -1em;
    background: #fff;
    height: 77px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 100%;
}
.results
{
    padding: 2em;
}
#divs{
    padding: 12px;
}
@media screen and ( device-width: 360px ){
    .divs_icons{
        width: 55px;
        height: 55px;
        margin-top: -0.9em;
    }
}