#result_search{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-top: 0.5em;
}
.avatarImage{
    display: flex;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.avatarImage img{
    width: 100px;
    height: 100px;
    /* border: 1px solid #333; */
    /* overflow: hidden; */
    border-radius: 100%;
}
.link_pesquisar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
}
.link_pesquisar a i{
    font-size: 10pt;
}
.link_pesquisar a{
    text-decoration: none;
    color: #4c7ce2;
    font-family: 'Roboto', sans-serif;
}
.box_search{
    background: linear-gradient(93.6deg, #03648b, #7a07e6); 
    background: -webkit-linear-gradient(93.6deg, #03648b, #7a07e6);
    background: -moz-linear-gradient(93.6deg, #03648b, #7a07e6);
    background: -o-linear-gradient(93.6deg, #03648b, #7a07e6);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    /* height: 655px; */
}

#search{
    background: #f0f0f0;
    border: none;
    font-family: 'Roboto', sans-serif;
}
#search::-webkit-input-placeholder{
    text-align: center;
    color: #333;
}
::-webkit-input-placeholder{
    color: #0fb676;
    font-family: 'Roboto', sans-serif;
}
.empresas-destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
}
.destaque_title{
    width: 79%;
    padding: 12px;
}
.destaque_title h2{
    background-color: #fff;
    padding: 12px 1em;
    border-radius: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #747474;
    font-size: 12pt;
}
.destaque_title h2 i{
    font-size: 20pt;
}
.supermecados_destaques{
    width: 80%;
}
.super{
    margin: 12px;
    height: 200px;
    width: 200px;
    background-color: #f1f1f1;
}
h1.icon_body{
    background: #fbfbfb;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    color: #91E855;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: 100px;
}
div.box_divs_body{
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.el{
  background:  #1db110;
}