.footer-side-left{
    background: #1b1b17;
}
.footer-site-right{
    background: #ffffff;
}
#mapFooter{
    background-image: url('../img/logo_oficial/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: multiply;
    height: 400px;
}