* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}
#backgroundBody{
    background: #4AC767;
}
.painel_configuracoes{
    display: flex;
}
#barra_top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0px 2px 9px -4px #333;
}
#menuPainelBars{
    background: #4AC767;
}
.icon_menu span i{
    color: #098eaf;
}
.box_avatar_topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box_nome_email{
    margin: 0 1em;
}
.box_nome_email h2{
    font-size: 15pt;
    margin: -0.2em 0;
}
.box_nome_email span{
    font-size: 9pt;
    padding: 3px;
}
.box_avatar{
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: cornflowerblue;
    color: #fff;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
/* body_content */
.body_content{
    background-color: #fff;
    display: flex;
}
.box_article{
    width: 65vw;
}
.title_painel_body{
    background-color: #fff;
    box-shadow: 0px 7px 7px -9px #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.title_painel_body h4{
    color: #444;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin-left: 1em;
    padding: 10px;
}
.title_categoria{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9pt;
    margin: 10px;
    padding: 10px;
    display: flex;
    color: rgb(61, 61, 61);
}
/*=========================*/
.aviso_compras{
    position: absolute;
    margin-top: 1em;
}
/*=========================*/
.box_avatar_body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 12px;
}
.box_avatar_body img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid #f1f1f1;
}
.space{
    margin: 12px;
}
.boxs_categorias{
    display: flex;
}
.box_each_categoria{
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 2px -1px #333;
    border-radius: 3px;
}
.box_each_categoria h6{
    margin-left: 1em;
}
.box_each_categoria h3{
    font-size: 15pt;
    margin: 5px;
}
.box_each_categoria span{
    font-size: 8pt;
}
.title_Categoria{
    font-size: 12pt;

}
.font-size_infor{
    font-size: 9pt;
}
.title_card_body{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px -1px #333;
}
.title_card_body h4 i{
    font-size: 10pt;
}
.title_card_body h4{
    color: #0f75c8;
    font-size: 9pt;
    margin: 5px;
}
.title_card_body span{
    font-size: 9pt;
}
.nome_produto_body{
    margin-left: 2em;
    margin-top: 12px;
}
.nome_produto_body p{
    font-size: 9pt;
    margin: -0.3em;
}
.nome_produto_body span{
    font-size: 8pt;
}
.valor_card_body h1{
    color: #0f75c8;
    font-size: 19pt;
}
.total_vendas{
    background-color: #fff;
    box-shadow: 0px 0px 2px -1px #333;
    width: 255px;
    border-radius: 3px;
    margin: 10px;
}
.total_vendas h5{
    color: #444;
    padding: 1em;
}
.total_vendas h3{
    color: #444;
    padding: 1em;
}
/* cor my-bg background */
.my-bg{
    background-color: #aef5df;
}